.balance-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 223px;
  width: 223px;
  border-radius: 10px;
  margin-bottom: 66px;
  background: -webkit-linear-gradient(45deg, #1DE9B6, #00C853);
  background: -o-linear-gradient(45deg, #1DE9B6, #00C853);
  background: linear-gradient(45deg, #1DE9B6, #00C853);
}

.balance-number {
  color: white;
  text-align: center;
  font-size: 48pt;
}

.balance-text {
  color: white;
  text-align: center;
  font-size: 18pt;
  font-weight: 600;
}
