.mine-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  border-radius: 10px;
  margin-bottom: 66px;
  -webkit-box-shadow: 0 5px 15px -2px rgba(10, 16, 34, .4);
          box-shadow: 0 5px 15px -2px rgba(10, 16, 34, .4);
  padding-left: 2px;
  padding-right: 2px;
  width: 235px;
  background: -webkit-linear-gradient(45deg, #3F51B5, #42A5F5);
  background: -o-linear-gradient(45deg, #3F51B5, #42A5F5);
  background: linear-gradient(45deg, #3F51B5, #42A5F5);
}

.unconfirmed-text {
  color: white;
  font-weight: 500;
}

.mine-button {
  width: 100%;
  border: transparent;
  background: #64B5F6;
}

.mine-button:hover {
  background: -webkit-linear-gradient(45deg, #651FFF, #A3A1FF) !important;
  background: -o-linear-gradient(45deg, #651FFF, #A3A1FF) !important;
  background: linear-gradient(45deg, #651FFF, #A3A1FF) !important;;
}

.mine-button:focus {
  background: -webkit-linear-gradient(45deg, #651FFF, #A3A1FF) !important;
  background: -o-linear-gradient(45deg, #651FFF, #A3A1FF) !important;
  background: linear-gradient(45deg, #651FFF, #A3A1FF) !important;;
}

.animate {
  -webkit-animation: pulseShadow 1.5s infinite;
          animation: pulseShadow 1.5s infinite;
}

.animte:hover {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes pulseShadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(252, 219, 217, .5);
            box-shadow: 0 0 0 0 rgba(252, 219, 217, .5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 7px rgba(252, 219, 217, 0);
            box-shadow: 0 0 0 7px rgba(252, 219, 217, 0)
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(252, 219, 217, 0);
            box-shadow: 0 0 0 0 rgba(252, 219, 217, 0);
  }
}

@keyframes pulseShadow {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(252, 219, 217, .5);
            box-shadow: 0 0 0 0 rgba(252, 219, 217, .5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 7px rgba(252, 219, 217, 0);
            box-shadow: 0 0 0 7px rgba(252, 219, 217, 0)
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(252, 219, 217, 0);
            box-shadow: 0 0 0 0 rgba(252, 219, 217, 0);
  }
}

.tx-input {
  width: 100%;
}
