.pay-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  border-radius: 10px;
  margin-bottom: 66px;
  -webkit-box-shadow: 0 5px 15px -2px rgba(10, 16, 34, .4);
          box-shadow: 0 5px 15px -2px rgba(10, 16, 34, .4);
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  background: -webkit-linear-gradient(45deg, #FF4081, #AD1457);
  background: -o-linear-gradient(45deg, #FF4081, #AD1457);
  background: linear-gradient(45deg, #FF4081, #AD1457);
}

.pay-button {
  width: 100%;
  margin-bottom: 5px;
  border: transparent;
  background: #F48FB1;
}

.pay-button:hover {
  backgorund:#e53935;
}

.pay-button:focus {
  backgorund:#e53935;
}

.has-error .ant-form-explain, .has-error .ant-form-split {
  color: white;
}
