.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.section-header{
  font-size: 24pt;
  font-weight: 600;
  margin-left: 10px;
  letter-spacing: 1px;
  position: relative;
  z-index: 999;
  margin-bottom: 10px;
}

.head-button{
  margin: 0 10px;
}

.marginedLayout{
  margin: 30px 35px;
}

.whiteSider{
  background: transparent;
  text-align:center;
}

.blueSider{
  background: -webkit-gradient(linear, left top, right top, from(#7fc7ff), to(#4cd4e0));
  background: -webkit-linear-gradient(left, #7fc7ff, #4cd4e0);
  background: -o-linear-gradient(left, #7fc7ff, #4cd4e0);
  background: linear-gradient(to right, #7fc7ff, #4cd4e0);
  text-align:center;
}

.redSider{
  background: -webkit-gradient(linear, left top, right top, from(#7fc7ff), to(#4cd4e0));
  background: -webkit-linear-gradient(left, #7fc7ff, #4cd4e0);
  background: -o-linear-gradient(left, #7fc7ff, #4cd4e0);
  background: linear-gradient(to right, #7fc7ff, #4cd4e0);
  text-align:center;
}

.mainContent{
  background: #1faee9;
  /*background:  linear-gradient(to right, #2b338a, #022027);*/
}

.mainContentRed{
  background: #e91f9c;
  /*background:  linear-gradient(to right, #2b338a, #022027);*/
}

.login-form {
  width: 35%;
  margin: auto;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
.login-form-button {
  float: right;
  margin-left: 15px;
}

.login-form-link {
  float: right;
}

.centered-h{
  margin-top: 120px;
  margin-bottom: 20px;
}

.no-margin-form{
  margin: 0;
}

.div-auth{
  text-align: center;
  margin: 30px 0;
}

.inline-div {
    width: 90%;
}

.small-margin {
  margin: 15px 0;
}

.white-head-text{
  color: white;
}

.black-head-text{
  color: black;
}