@import '~react-joyride/lib/react-joyride-compiled.css';
@import '~antd/dist/antd.css';

/* @font-face {
  font-family: 'DINPro';
  src: url(./fonts/DINPro-Light.woff) format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: url(./fonts/DINPro-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: url(./fonts/DINPro-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: url(./fonts/DINPro-Bold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro';
  src: url(./fonts/DINPro-Black.woff) format('woff');
  font-weight: 800;
  font-style: normal;
} */


body {
  margin: 0;
  padding: 0;
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  background-color:#f9f9fb;
  font-size: 12px;
}

#viz {
  width: 1000px;
  height: 600px;
  margin: 10px;
  font: 22pt arial;
  position: relative;
  background: white;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 4px;
  border: none;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab .anticon-close {
  opacity: 1;
  margin-right: 6px;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab .anticon-close:hover {
  color: #f04134;
}

.ant-tabs-nav-scroll {
  background: #f9f9fb;
}

.money-shadow {
  -webkit-box-shadow: 0 5px 15px -2px rgba(10, 16, 34, .4) !important;
          box-shadow: 0 5px 15px -2px rgba(10, 16, 34, .4) !important;
}

.money-shadow:hover {
  -webkit-box-shadow: 0 60px 120px -10px rgba(10, 16, 34, .2) !important;
          box-shadow: 0 60px 120px -10px rgba(10, 16, 34, .2) !important;
}

.ant-card-bordered {
  border: none;
}

.ant-tabs-bar {
  border-bottom: none;
}

.ant-tabs-nav .ant-tabs-tab .anticon {
  width: initial;
  height: initial;
  margin-right: initial;
}

.ant-select-selection {
  border: 0px solid transparent !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0 .5px 1px 1px rgba(10, 16, 34, .2);
          box-shadow: 0 .5px 1px 1px rgba(10, 16, 34, .2);
}

.ant-input-number {
  border: 0px solid transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 0 .5px 1px 1px rgba(10, 16, 34, .2);
          box-shadow: 0 .5px 1px 1px rgba(10, 16, 34, .2);
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  background: initial;
}

form .ant-input-number {
  margin-right: 0px;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/* MISC */
.ant-tabs-nav-scroll {
  background: none;
}

.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  background: #f9f9fb;
}

input {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.ant-input {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 12px;
}

.ant-tabs {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 12px;
}

.ant-card {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-size: 12px;
}

.ant-form-item {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-size: 12px;
}

.ant-form {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-size: 12px;
}

.ant-form-item-control > * {
  font-size: 12px;
}

.ant-table {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-size: 12px;
}

.ant-tag {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-size: 12px;
}

.ant-tag {
  white-space: normal;
}

.ant-avatar {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-size: 12px;
}

.ant-badge {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-size: 12px;
}

.ant-popover {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-size: 12px;
}

.ant-btn {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-size: 12px;
}

.ant-select {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-size: 12px;
}

.ant-select-dropdown {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-size: 12px;
}

.ant-message {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-size: 12px;
}

.ant-timeline {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;;
  font-size: 12px;
}

.ant-timeline-item {
  font-size: 12px;
}

.ant-modal {
  font-family: DINPro, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;  
}

.ant-badge {
  margin-left: auto;
  margin-right: auto;
}

.tour-button {
  background: -webkit-gradient(linear, left top, right top, from(rgb(21, 214, 134)), to(#0ebcdb));
  background: -webkit-linear-gradient(left, rgb(21, 214, 134), #0ebcdb);
  background: -o-linear-gradient(left,rgb(21, 214, 134), #0ebcdb);
  background: linear-gradient(to right,rgb(21, 214, 134), #0ebcdb);
  border: none;
}

.tour-button-2 {
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 221, 71)), to(#ff206a));
  background: -webkit-linear-gradient(left, rgb(255, 221, 71), #ff206a);
  background: -o-linear-gradient(left,rgb(255, 221, 71), #ff206a);
  background: linear-gradient(to right,rgb(255, 221, 71), #ff206a);
  border: none;
}

.button-2:hover, .button-2:focus  {
  border: none;
  background: -webkit-linear-gradient(45deg, #3A3897, #A3A1FF) !important;
  background: -o-linear-gradient(45deg, #3A3897, #A3A1FF) !important;
  background: linear-gradient(45deg, #3A3897, #A3A1FF) !important;;
}

.button-2 {
  border: none;
  background: white;
  color: #1565C0;
}

.button-4 {
  border: none;
  background: #dd4f79;
  color: white;
  font-weight: 800;
  width: 90%;
}

.button-6 {
  border: none;
  background: #52dd70;
  color: black;
  font-weight: 800;
  width: 90%;
}

.white-add-peer{
  background: white;
  color: #1565C0;
}

.button-3{
  width: 90%;
}

.button-marg {
  margin-left:auto;
  margin-right:auto;
  margin-top:5px;
  margin-bottom:5px;
}

.button-marg-head {
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  margin-bottom:5px;
}

.chooseModeHead{
  color: white;
}

p, strong, li {
  line-height: 1.625;
}

p, li {
  font-weight: 300;
}

.step-p {
  padding-bottom: 15px
}

h1{
  color: white
}
