.node {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 10px;
  -ms-flex-align: center;
      align-items: center;
}
