/* .peer-disconnect {
  color: #f46e65;
  border-color:#f46e65;
} */

.peer-disconnect:hover {
  color: #f46e65;
  border-color:#f46e65;
}

.peer-disconnect:focus {
  color: #f46e65;
  border-color:#f46e65;
}

/* .peer-connect {
  color: #3dbd7d;
  border-color: #3dbd7d;
} */

.peer-connect:hover {
  color: #3dbd7d;
  border-color: #3dbd7d;
}

.peer-connect:focus {
  color: #3dbd7d;
  border-color: #3dbd7d;
}
