.green {
  color: #00a854;
  background-color: #cfefdf;
}

.red {
  color: #f04134;
  background-color: #fcdbd9;
}

.blue {
  color: #108ee9;
  background-color: #d2eafb;
  -webkit-animation: bluePulse 1.5s infinite;
          animation: bluePulse 1.5s infinite;
}

@-webkit-keyframes bluePulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(16, 142, 233, .5);
            box-shadow: 0 0 0 0 rgba(16, 142, 233, .5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 7.5px rgba(16, 142, 233, 0);
            box-shadow: 0 0 0 7.5px rgba(16, 142, 233, 0)
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(16, 142, 233, 0);
            box-shadow: 0 0 0 0 rgba(16, 142, 233, 0);
  }
}

@keyframes bluePulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(16, 142, 233, .5);
            box-shadow: 0 0 0 0 rgba(16, 142, 233, .5);
  }
  70% {
    -webkit-box-shadow: 0 0 0 7.5px rgba(16, 142, 233, 0);
            box-shadow: 0 0 0 7.5px rgba(16, 142, 233, 0)
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(16, 142, 233, 0);
            box-shadow: 0 0 0 0 rgba(16, 142, 233, 0);
  }
}
